@font-face {
  font-family: Lato;
  src: url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
  font-weight: normal;
}
h1 {
  background-color: #002b36;
  color: #eee8d5;
}

body {
  background-color: #eee8d5;
  color: #073642;
}

.center {
  font-family: Lato;
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

div.vid {
  padding-bottom: 10px;
  padding-top: 5px;
}

video {
  max-width: 800px;
}

span.shitty-tagline {
  font-style: italic;
}
